.fix
  position: fixed
  
.submit-button
  padding-top: 4px

.wide
  width: 100%
  
.home-tr
  border: 2px solid white
  
.home-td
  border-left: 1px solid white
  
.my-notice-default
  color: $main-color-dark
  border: solid
  border-width: 1px
  border-color: $main-color-dark
  width: 400px
  background: $main-color-light
  font-size: 16px
  padding: 1px
  position: fixed
  right: 0
  padding: 5px
  margin: 5px

#top-bar
  background: $main-color
  width: 100%
  height: 48px
  padding: 5px
  border-bottom: 3px solid darken($main-color, 25%)

#tb-home
  border: solid
  border-width: 1px
  border-color: $main-color
  float: left

#tb-session
  border: solid
  border-width: 1px
  border-color: $main-color
  float: right
  
.btn-dark-my-outline
  border-color: $main-color-dark
  color: $main-color-dark
  &:hover, &:active
    background: $main-color-dark
    color: $main-color-light
    border-color: $main-color-dark
  
.btn-dark-my-outline-bold
  border-color: $main-color-dark
  color: $main-color-dark
  font-weight: bold
  border-width: 2px
  &:hover, &:active
    background: $main-color-dark
    color: $main-color-light
    border-color: $main-color-dark
  
.btn-light-my-outline
  border-color: $main-color-light
  color: $main-color-light
  &:hover, &:active
    background: $main-color-light
    color: $main-color-dark
    border-color: $main-color-light
  
.btn-light-my-outline-bold
  border-color: $main-color-light
  color: $main-color-light
  font-weight: bold
  border-width: 2px
  &:hover, &:active
    background: $main-color-light
    color: $main-color-dark
    border-color: $main-color-light
  
.btn-danger-my-outline
  border-color: $brand-danger
  background: white
  color: $brand-danger
  &:hover, &:active
    background: $brand-danger
    color: white
    border-color: $brand-danger
  
.btn-danger-my-outline-bold
  border-color: $brand-danger
  background: white
  color: $brand-danger
  font-weight: bold
  border-width: 2px
  &:hover, &:active
    background: $brand-danger
    color: white
    border-color: $brand-danger
