body
  background: $background

.content
  z-index: 10
  margin-left: 5px
  margin-right: 5px
  margin-bottom: 5px
  margin-top: $top-bar-height

.fix
  position: fixed
  
.submit-button
  padding-top: 5px

.wide
  width: 100%

.half-wide
  width: 50%
  
.home-tr
  border: 2px solid $background
  
.home-td
  border-left: 1px solid $background
  
.my-notice-color
  z-index: 30
  color: $main-color-dark
  border: solid
  border-width: 1px
  border-color: $main-color-dark
  width: 400px
  background: $main-color-light
  font-size: 16px
  padding: 1px
  position: fixed
  right: 0
  padding: 5px
  margin: 5px
  
.my-notice-default
  z-index: 30
  width: 400px
  font-size: 16px
  position: fixed
  right: 0
  margin: 5px

#top-bar
  z-index: 20
  position: fixed
  background: $main-color
  width: 100%
  height: $top-bar-height
  top: 0px
  padding: 5px
  border-bottom: 3px solid darken($main-color, 25%)

#tb-home
  border: solid
  border-width: 1px
  border-color: $main-color
  float: left

#tb-session
  border: solid
  border-width: 1px
  border-color: $main-color
  float: right
  
.btn-dark-my-outline
  border-color: $main-color-dark
  color: $main-color-dark
  &:hover, &:active
    background: $main-color-dark
    color: $main-color-light
    border-color: $main-color-dark
  
.btn-dark-my-outline-bold
  border-color: $main-color-dark
  color: $main-color-dark
  font-weight: bold
  border-width: 2px
  &:hover, &:active
    background: $main-color-dark
    color: $main-color-light
    border-color: $main-color-dark
  
.btn-light-my-outline
  border-color: $main-color-light
  color: $main-color-light
  &:hover, &:active
    background: $main-color-light
    color: $main-color-dark
    border-color: $main-color-light
  
.btn-light-my-outline-bold
  border-color: $main-color-light
  color: $main-color-light
  font-weight: bold
  border-width: 2px
  &:hover, &:active
    background: $main-color-light
    color: $main-color-dark
    border-color: $main-color-light
  
.btn-danger-my-outline
  border-color: $brand-danger
  background: white
  color: $brand-danger
  &:hover, &:active
    background: $brand-danger
    color: white
    border-color: $brand-danger
  
.btn-danger-my-outline-bold
  border-color: $brand-danger
  background: white
  color: $brand-danger
  font-weight: bold
  border-width: 2px
  &:hover, &:active
    background: $brand-danger
    color: white
    border-color: $brand-danger

.my-table-hover
  tbody
    tr
      &:hover
        background: $brand-info

.block
  display: inline-block

.w-500
  width: 500px

.show-table
  tr
    &:hover
      background: #eeeeee
  .head
    text-align: right
    font-weight: bold
    padding: 5px
  td
    padding: 5px

.buttons
  .item
    margin-top: 5px

.my-table
  thead
    border-bottom: 2px solid $brand-gray
    th, td
      padding: 10px
      margin: 10px
  tbody
    tr
      border-bottom: 1px solid $brand-gray
    th, td
      padding: 10px
      margin: 10px
